.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
}

.charts {
  margin-top: 24px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.chart-box {
  background: #fff;
  height: 300px;
  display: grid;
  place-items: center;
  border-radius: 12px;
}
