<app-dashboard-sidebar> </app-dashboard-sidebar>
 <div class="content">
    <app-dashboards-header></app-dashboards-header>
 <div class="inner-page">


  <app-dashboard-cards></app-dashboard-cards>

  <div class="panels">
    <div class="card"><h3>Recent Activity</h3>
      <app-activity-table [activities]="recentActivities"></app-activity-table>
    </div>
    <div class="card"><h3>Recent Notifications</h3>
      <app-notification-list [notifications]="notifications"></app-notification-list>
    </div>
 <div>
  <div class="two-col">
      <app-month-progress></app-month-progress>
      <app-user-distribution></app-user-distribution>
    </div>

</div>
  </div>