.sidebar {
    width: 250px;
    height: 100vh;
    background: rgb(109, 18, 194);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid blueviolet;
    padding-bottom: 20px;
}

.logo i {
    font-size: 28px;
}

.logo h1 {
    font-size: 22px;
    margin: 0;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin-top: 25px;
}

.nav-links li {
    padding: 12px 10px;
    margin: 8px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
    border-radius: 6px;
}

.nav-links li i {
    font-size: 18px;
}

.nav-links li:hover {
    background: blueviolet;
}

.nav-links li.active {
    background: blueviolet;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 12px;
    background: blueviolet;
    padding: 12px;
    border-radius: 8px;
}

.user-avatar {
    width: 40px;
    height: 40px;
    background: white;
    color: rgb(57, 57, 234);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}

.user-info h4 {
    margin: 0;
}

.user-info p {
    margin: 0;
    font-size: 14px;
    opacity: 0.8;
}
