/* Footer */
.footer {
  background-color: #1a73e8;
  color: #fff;
  text-align: center;
  padding: 1rem 1rem;
  bottom: 0;
  
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footer-logo img {
  height: 28px;
}

.footer-links {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-socials {
  display: flex;
  gap: 1rem;
}

.footer-socials img {
  width: 24px;
  filter: brightness(0) invert(1);
  transition: transform 0.2s ease;
}

.footer-socials img:hover {
  transform: scale(1.1);
}

.footer-copy {
  margin-top: 1rem;
  font-size: 0.9rem;
  opacity: 0.9;
}


@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5%;
  }
}
