<header class="header">
  <div class="logo-container">
    <img src="assets/gdsc-logo.svg" alt="GDSC-logo" class="logo" />
    <h2 class="site-name">GDSC</h2>
  </div>

  <nav class="nav-links">
    <a href="#home" class="active">Home</a>
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#contact">Contact</a>
  </nav>
</header>

<section id="home" class="main">
  <app-home></app-home>
</section>

<section id="about" class="about">
  <app-about></app-about>
</section>

<section id="services" class="services">
  <app-services></app-services>
</section>

<section id="contact" class="contact">
  <app-contact></app-contact>
</section>
